<div class="main">
    <div class="login">
        <form name="form" id="loginform" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <div>
                <label for="loginform">Login</label>
                <input 
                    required 
                    type="text" 
                    name="username" 
                    placeholder="Username"
                    [(ngModel)]="form.username" 
                    #username="ngModel">
                    
                <!-- <label for="password">Password</label> -->
                <input 
                    type="password" 
                    name="password" 
                    placeholder="Password"
                    [(ngModel)]="form.password" 
                    required 
                    #password="ngModel">
            </div>
            
            <button>Submit</button>
        </form>
    </div>
</div>